<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Mimer AI Factory</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
        />
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                darkMode: "class",
                theme: {
                    extend: {
                        fontFamily: {
                            sans: ["Inter", "sans-serif"],
                        },
                    },
                },
            };
        </script>
        <!--<script src="/js/lunr.min.js"></script>-->
        <!--<script src="https://unpkg.com/lunr/lunr.js"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.4.1"></script>
        <!--<script src="/js/search.js"></script>-->
    </head>
    <body class="bg-slate-900 text-gray-100 font-sans antialiased">
        {% include "header.html" %}

        <!-- Main Content -->
        <main class="container mx-auto px-4 py-8">
            <section>{% block content %} {% endblock content %}</section>
        </main>

        {% include "footer.html" %}

        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const mobileToggle = document.getElementById("mobile-toggle");
                const mobileMenu = document.getElementById("mobile-menu");

                mobileToggle.addEventListener("click", () => {
                    mobileMenu.classList.toggle("active");
                });
            });
        </script>
    </body>
</html>
