<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Mimer AI Factory</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link rel="stylesheet" href="/css/main.dist.css" />
    </head>
    <body class="dark bg-slate-900 text-gray-100 font-sans antialiased min-h-screen flex flex-col">
        {% include "header.html" %}

        <!-- Main Content -->
        <main class="flex-1 container mx-auto px-4 py-8">
            <section>{% block content %} {% endblock content %}</section>
        </main>

        {% include "footer.html" %}

        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const mobileToggle = document.getElementById("mobile-toggle");
                const mobileMenu = document.getElementById("mobile-menu");

                mobileToggle.addEventListener("click", () => {
                    mobileMenu.classList.toggle("active");
                });
            });
        </script>
    </body>
</html>
