<article
    class="lesson-card"
    data-title="{{ lesson.title }}"
    data-description="{{ lesson.description }}"
    data-tags="{{ lesson.tags }}"
    data-skill="{{ lesson.skill }}"
    data-difficulty="{{ lesson.difficulty }}"
>
    <h2>{{ lesson.title }}</h2>
    <p>{{ lesson.description }}</p>
    <div class="badge-container">
        {% for skill in lesson.skill %}
        <span class="badge skill-{{ skill }}">{{ skill }}</span>
        {% endfor %}
        <span class="badge difficulty-{{ lesson.difficulty }}"
            >{{ lesson.difficulty }}</span
        >
    </div>
</article>
